## WQD 7005 Data Mining 
## Project Title: Crude Oil Price Prediction

### Milestone 4: Data Interpretation & Communication of Insights of data  (Part 1)

### Data Visualization I


##### Team member: 
1) Nurullainy binti Mat Rashid 17036591

In [8]:
import dtale

import pandas as pd
import numpy as np

In [12]:
newsdata = pd.read_csv('news_interpretation.csv')
oildata = pd.read_csv('oilprice_integration.csv')

In [13]:
# Dtale show

dtale.show(oildata)

Exception on /charts/_dash-update-component [POST]
Traceback (most recent call last):
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/flask/app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/flask/app.py", line 1951, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/flask/app.py", line 1820, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/flask/_compat.py", line 39, in reraise
    raise value
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/flask/app.py", line 1949, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/flask/app.py", line 1935, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dash/dash.py", line 1032, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dash/dash.py", line 967, in add_context
    output_value = func(*args, **kwargs)  # %% callback invoked %%
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/dash_application/views.py", line 475, in group_values
    group_vals = build_group_val_options(group_vals, group_cols)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/dash_application/layout.py", line 523, in build_group_val_options
    group_vals = find_group_vals(df, group_cols)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/charts/utils.py", line 507, in find_group_vals
    group_vals, _ = retrieve_chart_data(df, group_cols)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/charts/utils.py", line 202, in retrieve_chart_data
    all_data = pd.concat(all_data, axis=1)
  File "/usr/local/lib/python3.7/site-packages/pandas/core/reshape/concat.py", line 281, in concat
    sort=sort,
  File "/usr/local/lib/python3.7/site-packages/pandas/core/reshape/concat.py", line 329, in __init__
    raise ValueError("No objects to concatenate")
ValueError: No objects to concatenate

2020-06-15 22:29:51,498 - ERROR    - Exception on /charts/_dash-update-component [POST]
Traceback (most recent call last):
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/flask/app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/flask/app.py", line 1951, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/flask/app.py", line 1820, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/flask/_compat.py", line 39, in reraise
    raise value
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/flask/app.py", line 1949, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/flask/app.py", line 1935, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dash/dash.py", line 1032, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dash/dash.py", line 967, in add_context
    output_value = func(*args, **kwargs)  # %% callback invoked %%
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/dash_application/views.py", line 475, in group_values
    group_vals = build_group_val_options(group_vals, group_cols)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/dash_application/layout.py", line 523, in build_group_val_options
    group_vals = find_group_vals(df, group_cols)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/charts/utils.py", line 507, in find_group_vals
    group_vals, _ = retrieve_chart_data(df, group_cols)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/charts/utils.py", line 202, in retrieve_chart_data
    all_data = pd.concat(all_data, axis=1)
  File "/usr/local/lib/python3.7/site-packages/pandas/core/reshape/concat.py", line 281, in concat
    sort=sort,
  File "/usr/local/lib/python3.7/site-packages/pandas/core/reshape/concat.py", line 329, in __init__
    raise ValueError("No objects to concatenate")
ValueError: No objects to concatenate

Exception occurred while processing request: index 0 is out of bounds for axis 0 with size 0
Traceback (most recent call last):
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/views.py", line 49, in _handle_exceptions
    return func(*args, **kwargs)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/views.py", line 1156, in describe
    desc, desc_code = load_describe(data[column], additional_aggs=additional_aggs)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/views.py", line 1107, in load_describe
    desc['mode'] = np.nan if len(mode) > 1 else mode[0]
IndexError: index 0 is out of bounds for axis 0 with size 0

/usr/local/lib/python3.7/site-packages/numpy/lib/nanfunctions.py:1113: RuntimeWarning:

Mean of empty slice

2020-06-15 23:09:57,584 - ERROR    - Exception occurred while processing request: index 0 is out of bounds for axis 0 with size 0
Traceback (most recent call last):
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/views.py", line 49, in _handle_exceptions
    return func(*args, **kwargs)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/views.py", line 1156, in describe
    desc, desc_code = load_describe(data[column], additional_aggs=additional_aggs)
  File "/Users/Nurullainy/Library/Python/3.7/lib/python/site-packages/dtale/views.py", line 1107, in load_describe
    desc['mode'] = np.nan if len(mode) > 1 else mode[0]
IndexError: index 0 is out of bounds for axis 0 with size 0

In [11]:
# Dtale show

dtale.show(newsdata, ignore_duplicate=True)

In [19]:
# Data Integration

frames = [oildata, newsdata]

data = pd.concat(frames, axis=1).reindex(oildata.index)

data.head()

,year,month,Date,day,day_no,Open,Low,High,Close,trend,open_equals_closing,all_day_maintain,closing_low,closing_high,DateTime,news_headline,polarity,subjectivity,polarity_description
0,2000.0,January,2000-01-05,Wednesday,3.0,25.549999,25.50,26.000000,25.870001,downward,NaN,NaN,NaN,0.0,01/01/2020,Johan Sverdrup: Norway’s big bet on a rosy fut...,0.0,0.1125,Neutral
1,2000.0,January,2000-01-06,Thursday,4.0,29.400000,29.23,30.350000,30.100000,downward,NaN,NaN,NaN,0.0,02/01/2020,India exempts very low sulphur fuel oil from i...,0.0,0.3900,Neutral
2,2000.0,January,2000-01-08,Saturday,6.0,27.549999,27.26,28.040001,27.790001,downward,NaN,NaN,NaN,0.0,02/01/2020,Oil majors request more Mozambique troops afte...,0.5,0.5000,Positive
3,2000.0,January,2000-01-09,Sunday,7.0,33.049999,32.75,33.450001,33.380001,downward,NaN,NaN,NaN,0.0,02/01/2020,India raises import tax on crude palm oil to 44%,-0.7,1.0000,Negative
4,2000.0,January,2000-01-11,Tuesday,2.0,33.150002,32.82,33.750000,33.200001,upward,NaN,NaN,NaN,0.0,03/01/2020,Russia's Putin says current oil prices acceptable,0.0,0.4000,Neutral

Executing shutdown...

2020-06-15 23:24:39,916 - INFO     - Executing shutdown...

In [20]:
# Dtale Combine 

dtale.show(data, ignore_duplicate=True)