## Nurullainy binti Mat Rashid 
### Milestone 3: Accessing Hive Data Warehouse

In [9]:
from pyhive import hive
import pandas as pd

In [10]:
#Create Hive connection 

conn = hive.Connection(host="localhost", port=10000)

In [17]:
# Read Hive table and Create pandas dataframe

df = pd.read_sql("SELECT * FROM crudeoil_predict.oilprices", conn)

df.head()

,oilprices.dateoil,oilprices.openprice,oilprices.highprice,oilprices.lowprice,oilprices.closeprice,oilprices.adjustedprice,oilprices.volume
0,22/03/2000,27.65,28.250000,27.250000,27.459999,27.459999,92302
1,23/03/2000,27.65,27.780001,27.160000,27.309999,27.309999,79373
2,24/03/2000,27.85,28.150000,27.549999,27.980000,27.980000,55693
3,27/03/2000,27.65,28.020000,27.410000,27.730000,27.730000,59199
4,28/03/2000,27.60,27.870001,27.000000,27.080000,27.080000,39487

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5053 entries, 0 to 5052
Data columns (total 7 columns):
oilprices.dateoil          5053 non-null object
oilprices.openprice        5053 non-null float64
oilprices.highprice        5053 non-null float64
oilprices.lowprice         5053 non-null float64
oilprices.closeprice       5053 non-null float64
oilprices.adjustedprice    5053 non-null float64
oilprices.volume           5053 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 276.4+ KB

In [18]:
df.isnull().sum()

oilprices.dateoil          0
oilprices.openprice        0
oilprices.highprice        0
oilprices.lowprice         0
oilprices.closeprice       0
oilprices.adjustedprice    0
oilprices.volume           0
dtype: int64